<html>

<head>
  <style>
    /* CSS styling untuk pesan email */
    body {
      font-family: Arial, sans-serif;
      background-color: #141E46;
      color: #B5C0D0;
    }

    #otp-code {
      font-size: 18px;
      font-weight: bold;
      color: #007bff;
    }
  </style>
</head>

<body>
  <div class="container">
    <p>
      Kode OTP Anda adalah <span id="otp-code">{{otp}}</span> Silahkan gunakan kode ini
      untuk verifikasi akun Anda di prasorganic. Dan jangan berikan
      kode ini kepada siapapun. Terima kasih.
    </p>
  </div>
</body>

</html>